header {
  background-color: rgba(255, 255, 255, 0.13);  
  color: white;
  display: flex;  
  height: 72px;
  align-items: center;  
  justify-content: space-between;
  backdrop-filter: blur(10px);  
  padding: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.userInfo {
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  min-width: fit-content;
  width: 350px;
}

.banner {
  font-size: 36px;
}
