table, tr, th, td {
  border: 1px solid rgba(255, 255, 255, 0.13);  
  color: white;
  border-collapse: collapse;
}

th {
  background-color: rgba(255, 255, 255, 0.5);
}

td {
  background-color: rgba(255, 255, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: center;
}

tr {
  display: flex;
  width: 100%;
}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

th, td {
  width: 135px;
}

th:nth-child(5), td:nth-child(5) {
  width: 280px;
}

table button {
  background-color: white;
  color: #080710;
  border-radius: 5px;
  font-weight: 600;
  border-style: none;
  height: 30px;
  padding-right: 3px;
  padding-left: 3px;
}

td:last-child button {
  margin-right: 3px;
  margin-left: 3px;
}
